html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#wrapper{
    position: relative;
    min-height: 100%;
    width: 100%;
}
#actions_area{
    position: relative;
    width: 100%;
    min-height: 500px;
    height:50%;
    margin: 10px 0;
    text-align: center;
}

.pl_state{
    position: absolute;
    /*height: 25%;*/
    top:15%;
    width: 15%;
    border: 1px solid #666;
    box-shadow: 0px 0px 4px 2px #444;
    background-color: #ddd;
    border-radius: 5px;
}
.pl_state .nickname{
    border-bottom: 0px solid #999;
    background-color: #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #fff;
    padding: 3px;
    box-shadow:0px 1px 3px 0px #333;
    margin-bottom: 20px;
}
.pl_state .state{
    color: #fff;
    font-weight: 700;
    background-color: #444;
    border-radius: 5px;
    /*display: inline-block;*/
    padding: 5px 10px;
    margin: 5px;
    box-shadow:inset 0px 0px 4px 2px #111111;
    text-shadow: 0px 0px 4px #000;
}
.pl_state .state.ready{
    color: #3b3;
}
.pl_state .state.pause{
    color: #bb0;
}
.pl_state .state.plays{
    color: #0bb;
}

#pl1_state{
    left:  5%;
}
#pl2_state{
    right:  5%;
}
#game_wrapper{
    position: absolute;
    height: 50%;
    left: 25%;
    top:0;
    width: 50%;
    border: 1px solid #666;
    box-shadow: 0px 0px 4px 2px #444;
    background-color: #ddd;
    min-width: 630px;
    min-height: 480px;
}
#scoreboard_wrapper{

    width: 100%;
    text-align: center;
}
#scoreboard{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    padding: 10px 20px;
    background-color: #555;
    border-radius: 5px;
    color: #111;
    text-shadow: 0px 0px 4px #000;
    font-weight: 700;
    border: 1px solid #333;
    box-shadow: 0px 0px 4px 2px #111;
}
#scoreboard span{
    color: #fff;
    font-weight: 700;
    background-color: #444;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    box-shadow: inset 0px 0px 4px 2px #111111;
    text-shadow: 0px 0px 4px #000;
}

input.play {
    background: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    margin-bottom: 14px;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
    width: 150px;
    -webkit-background-clip: padding-box; }
input.play:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
input.play:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 4px;
    margin-bottom: 12px;
}
input.pause {
    background: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    margin-bottom: 14px;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
    width: 150px;
    -webkit-background-clip: padding-box; }
input.pause:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
input.pause:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 4px;
    margin-bottom: 12px;
}